#corpotodo{
	background-color: #0C5652;
}
#navbar {
    height: 163px;
	width:100vw;
	background: url('backmenumobile.jpg');
	opacity: 0.8;
	/*background-color: rgba(12,68,63,0.8);*/
}
#navbar-container {
    flex-direction: column;
    padding: 7px 0;
}
#navbar-container h1{
	font-size:0px;
}

#navbar-items {
    flex-direction: column;
    text-align: center;
    width: 100%;
	/*font-size: 15px;*/
}

#navbar-items li:nth-child(2n) {
    border-top: 1px solid #0C5652;
    border-bottom: 1px solid #0C5652;
}

/*HEADER*/
#brasao {
	width:0px;
	/*
	max-width:120px;
	max-height:120px;
	width: auto;
	height: auto;*/
}
header{
	font-size:1rem;
	padding-top:150px;
	line-height: 30px;
	width: 100vw;
	height:250px; 	
	background: url('grupaomobile.png') no-repeat center center/cover;
}
/*header img{
	text-align: center;
	padding-top: 50px;
	width:100vw;
}*/


/*#teste{
	width:100%;
	height:500px;
	background:green;
}*/

.titulo {
	margin-top:100px;
}


.tsecao {
    font-size: 1.7rem;
   }

/*MAPA*/
.mapa{
	width:auto;
	padding-top:4vh;
}
#acessarmapa{
	padding:30px;
	padding-top: 40px;
}
/*.corpotodo{
	padding-top:180px;
	
}*/

/*ATRAÇÕES*/
#atracoes{
	padding:30px;
	background: url('backatracaomobile.png') no-repeat center center/cover;
}
.hora{
	width:130px;
}
#atracoes-container{
	width: 90%;
}
.cartaz img{
	margin-bottom: 0vw;
	margin-top:auto;
	margin-left: 2vw;
	/*max-width:50vw;*/
	height: auto;
	max-width: 60vw;
}
.cartaz {
	
	width:50vw;
	height:auto;
}







/*BUFFET*/
#buffet{
	padding:30px;
}
#mural{
	padding:30px;
	height: 30vh;
}

.titinsta {
	font-size: 1.9rem;
}
.instagram{
	padding:8px;
}
.instagram img{
	width: 28vw;
}
#capainsta{
	height: 5vh;
	max-width: 50vw;
	
}
#instaturma{
	height:60vh;
}
#galeria img{
	height: auto;
	width:70vw;
	padding: 10px;
	
}
#g1 {
	margin-left:10vw;
	
}
#g2 {
	margin-left: 6vw;
}
#g3 {
	margin-left:2vw;
}






/*HOMENAGEM*/
#homenagem{
	padding-bottom:2px;
}
#contem-homenagem{
	width:95%;
}
#contem-homenagem p{
	font-size: 0.9rem;
}







/*COMISSÃO*/
#comissao{
	padding:30px;
	width:100%;
	height:350px;
	background: black;
	/*background: url('comissaomobile.jpg') no-repeat center /*center/cover*/;
}
#comissao img{
	width:100%;
	border-radius: 15px;
	padding-top:10px;
}
#comissao p{
	font-size: 0.9rem;
}
.container-generico{
	width:90%;
}
.container-generico p{
	margin-bottom:2px;
	margin:20px;
}

/*#comissao{
	width:100%;
	height:500px;
	background: url('comissao.jpg') no-repeat center center/cover;
	color: #eee;
	padding: 50px;
	position: relative;
	background-color:rgba(0,0,0,0.4);
}*/
#orgnames{
	gap:30px;
	margin-top:35vw;
	font-size: 1rem;
}	
	
/*RODAPÉ*/
#tabela{
	flex-direction: column;
	width:100%;
	gap:20px;
}
#footer{
	padding:20px;
}
.fim {
	padding:10px;
}

